name: TypeScript Node - Nightly

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - 'source/typescript-node/Dockerfile'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    environment: STAGING
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # 3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # 3.12.0

      - name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # 3.6.0
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GHCR
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # 3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - id: tag_builder
        name: Generate build tags
        run: |
          TIMESTAMP=$(date +'%Y%m%d')
          SHA=$(git rev-parse --short HEAD)
          echo "build_tag=nightly-${TIMESTAMP}-${SHA}" >> $GITHUB_OUTPUT

          # expose a separate tag for testing purposes
          echo "test_tag=nightly-test-${TIMESTAMP}-${SHA}" >> $GITHUB_OUTPUT

      - name: Build image for testing
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # 6.18.0
        with:
          context: source/typescript-node
          platforms: linux/amd64,linux/arm64
          push: false
          load: true
          tags: |
            ${{ vars.DOCKERHUB_USERNAME }}/typescript-node:${{ steps.tag_builder.outputs.test_tag }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Run test
        run: |
          TEST_IMAGE="${{ vars.DOCKERHUB_USERNAME }}/typescript-node:${{ steps.tag_builder.outputs.test_tag }}"
          echo "Running smoke test against $TEST_IMAGE"
          docker run --rm "$TEST_IMAGE" node -v

      - name: Build & Push image to registries
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # 6.18.0
        with:
          context: source/typescript-node
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ${{ vars.DOCKERHUB_USERNAME }}/typescript-node:${{ steps.tag_builder.outputs.build_tag }}
            ghcr.io/${{ github.repository_owner }}/typescript-node:${{ steps.tag_builder.outputs.build_tag }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
